/* ======== Variables ======= */
:root {
	--main-color: #757575;
	--secondary-color: #212121;
	--accent-color: #2196F3;
	--icon-color: #AFB1B8;
	--white-color: #FFFFFF;
	--black-color: #000000;
	--opacity-color: rgba(255, 255, 255, 0.6);
	--socials-opacity: rgba(255, 255, 255, 0.1);
	--bg-button: #F5F4FA;
	--button-dark: #188CE8;
	--bg-dark-color: #2F303A;
	--font-main: 'Roboto', 'Arial', sans-serif;
	--font-secondary: 'Raleway', 'Open Sans', sans-serif;
}
/* ========================== */